// Variable overrides

$blue:#41A9E9 !default;
$gray-600: rgba(134, 150, 161, 1);
$green: #6EAA3A;
$cyan:#41a9e9 ;
$yellow:#FFCA3A;
$red:#DB4349;
$gray-100:#f8f9fa ;
$gray-800: #343a40 ;
$background-dark: #313335;
$card-background: #4F5256;

$theme-colors: (
  "purple": #5e348c,
  "yellow": #f0b254,
  "gray": $gray-600,
);
